@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
    --greenmuda:rgb(174, 216, 209);
    --greentua:rgb(14, 133, 107);
    --gradient:linear-gradient(90deg, var(--greenmuda), var(--greentua));
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(174, 216, 209);
}
::-webkit-scrollbar-thumb {
    background: #fff;
}
::selection{
    background: rgb(0,123,255,0.3);
}
.content{
    max-width: 100%;
    margin: auto;
    padding: 0 30px;
}
.navbar{
    background: rgb(174, 216, 209);
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 5px 0;
    transition: all 0.3s ease;
    height: 60px;
}
.navbar.sticky{
    opacity: 90%;
    background: rgb(238, 250, 248);
    padding: 5px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    z-index: 1000000;
}

.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 37px;
    font-style: italic;
    font-weight: 900;
    font-family: 'Montserrat Bold 700 Italic', sans-serif;
    color: rgb(14, 133, 107);
    text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: rgb(14, 133, 107);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: pink;
  background-color: rgb(14, 133, 107);
  padding: 8px;
  border-radius: 10px;
}

.menu-list .sign-in{
    background-color: var(--greentua);
    color: #fff;
    border-radius: 15px;
}

.sign-in{
    padding: 8px 11px;
}

.icon{
  color: var(--greentua);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: rgb(174, 216, 209);
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

/*LAST NAVBAR*/


/*VIDEO START*/
*{
  box-sizing: border-box;
  text-transform: capitalize;
}

body{
  background: var(--greenmuda);
}

.heading{
  padding-top: 100px;
  text-align: center;
  font-size: 37px;
  font-weight: 900;
  font-family: 'Montserrat Bold 700 Italic', sans-serif;
  color: rgb(14, 133, 107);
  text-decoration: none;

}
.containervideo{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  align-items: flex-start;
  padding: 5px 5%;
}

.containervideo .main-video{
  background: #fff;
  border-radius: 15px;
  padding: 10px;
}

.containervideo .main-video video{
  width: 100%;
  border-radius: 5px;
}

.containervideo .main-video .title{
  color: #333;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.containervideo .video-list{
  background: #fff;
  border-radius: 15px;
  height: 520px;
  overflow-y:scroll;
}
.containervideo .video-list::-webkit-scrollbar{
  width: 7px;
}
.containervideo .video-list::-webkit-scrollbar-track{
  background: #ccc;
  border-radius: 50px;
}

.containervideo .video-list::-webkit-scrollbar-thumb{
  background: #666;
  border-radius: 50px;
}

.containervideo .video-list .vid video{
  width: 100px;
  border-radius: 5px;
}
.containervideo .video-list .vid{
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f7f7f7;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
.containervideo .video-list .vid:hover{
  background: #eee;
}
.containervideo .video-list .vid.active{
  background: var(--greenmuda);
}

.containervideo .video-list .vid.active .title{
  color: #fff;
}
.containervideo .video-list .vid .title{
  color: #333;
  font-size: 17px;
}

@media (max-width:991px){

  .containervideo{
    grid-template-columns: 1.5fr 1fr;
    padding: 10px;
  }

}

@media (max-width:768px){

  .containervideo{
    grid-template-columns: 1fr;
  }

}



/*FOOTER START*/

footer{
  margin-top: 150px;
  position: absolute;
  background: var(--greentua);
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 2rem;
}
.footer-content p{
  max-width: 500px;
  margin-top: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.social-media{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.social-media li{
  margin: 0 10px;
}
.social-media a{
  text-decoration: none;
  color: #fff;
}
.social-media a i{
  font-size: 20px;
  transition: color .4s ease;
}
.social-media a:hover i{
  color: var(--greenmuda);
}

.footer-bottom{
background: var(--greentua);
width: 100cw;
padding: 0px 0px 20px 0px;
text-align: center;
}

.footer-bottom p{
font-size: 14px;
word-spacing: 2px;
text-transform: capitalize;
}
.footer-bottom span{
text-transform: uppercase;
opacity: 4;
font-weight: 200;
}


/*FOOTER END*?


















/* media queries  */

@media (max-width:1200px){
    
  html{
      font-size: 55%;
  }

}

@media (max-width:991px){
  
  section{
      padding:0 3%;
      padding-top: 7.5rem;
      padding-bottom: 2rem;
  }

}

@media (max-width:768px){

  header label{
      visibility: visible;
      opacity: 1;
  }

  header .navbar{
      position: absolute;
      top:100%; left: 0;
      width:100%;
      background:#fff;
      padding:1rem 2rem;
      border-top: .1rem solid rgba(0,0,0,.2);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
      transform-origin: top;
      transform: scaleY(0);
      opacity: 0;
      transition: .2s linear;
  }

  header .navbar a{
      display: block;
      margin:2rem 0;
      font-size: 2rem;
  }

  header input:checked ~ .navbar{
      transform: scaleY(1);
      opacity: 1;
  }

  header input:checked ~ label::before{
      content:'\f00d';
  }

  .home{
      flex-flow: column-reverse;
  }

  .home .image img{
      width:100%;
  }

  .home .content h3{
      font-size: 3.6rem;
  }

  .home .content p{
      font-size: 1.5rem;
  }

  .about{
      background-position: right;
  }

  .newsletter p{
      width:auto;
  }

}

@media (max-width:450px){
  
  html{
      font-size: 50%;
      width: 100%;
  }

  .about .column .content .buttons a{
      width:100%;
      text-align: center;
  }

  .about .column .content .buttons a:last-child{
      margin: 1rem 0;
  }

}

@media (max-width:380px){
  
  html{
      font-size: 30%;
      width: 100%;
  }

  .about .column .content .buttons a{
      width:100%;
      text-align: center;
  }

  .about .column .content .buttons a:last-child{
      margin: 1rem 0;
  }

}

